<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd"> -->
<module configVersion="1.0">

	<!-- Base Module Properties -->
	<id>patientmatching</id>
	<name>Patient Matching</name>
	<version>1.2.2</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>James Egg</author>
	<description>Patient matching module uses an external database for
		probabilistic patient matching</description>

	<activator>@MODULE_PACKAGE@.PatientMatchingActivator</activator>

	<!-- <updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>

	<!-- /Extensions -->

	<require_version>1.1</require_version>
	<!-- AOP -->
	<advice>
		<point>org.openmrs.api.PatientService</point>
		<class>@MODULE_PACKAGE@.PatientMatchingActivator</class>
	</advice>
	<!-- /AOP -->

	<globalProperty>
		<property>patientmatching.linkConfigFile</property>
		<description>This file can be found at doc/link_config.xml
		</description>
	</globalProperty>

	<globalProperty>
		<property>patientmatching.excludedProperties</property>
		<defaultValue>void,change,create,creator</defaultValue>
		<description>All properties that contains any of this element will be
			excluded</description>
	</globalProperty>
	<globalProperty>
		<property>patientmatching.urlProductionServer</property>
		<defaultValue>http://link.regenstrief.org:8080/openmrs/admin/patients/mergePatients.form</defaultValue>
		<description>URL pointing to the production server </description>
	</globalProperty>
	<globalProperty>
		<property>patientmatching.algorithm.lcs.threshold</property>
		<defaultValue>0.85</defaultValue>
		<description>The default threshold value used for Longest Common Subsequence Algorithm</description>
	</globalProperty>
	<dwr>
		<allow>

			<convert converter="bean" match="org.openmrs.Person">
				             
				<param name="include"
					value="personId, names,
                         addresses, attributes, gender, birthdate,
                		 birthdateEstimated, age, dead, voided,
            		     personName, personAddress, attributeMap" />
				           
			</convert>
			<convert converter="bean" match="org.openmrs.PersonName">
				                
				<param name="include"
					value="personNameId, preferred,
	                     prefix, givenName, middleName, familyNamePrefix,
	                     familyName, familyName2, familyNameSuffix,
	                     degree, voided" />
				           
			</convert>
			           
			<convert converter="bean" match="org.openmrs.PersonAddress">
				                
				<param name="include"
					value="personAddressId,
	                     preferred, address1, address2, cityVillage,
	                     neighborhoodCell, countyDistrict, townshipDivision,
	                     region, subregion, stateProvince, country, postalCode,
	                     latitude, longitude, voided" />
				          
			</convert>
			           
			<convert converter="bean" match="org.openmrs.PersonAttribute">
				               
				<param name="include"
					value="personAttributeId,
          	             person, attributeType, value, voided" />
				            
			</convert>
			            
			<convert converter="bean" match="org.openmrs.PersonAttributeType">
				                
				<param name="include"
					value="personAttributeTypeId,
                         name, format, foreignKey, description, searchable,
            	         retired" />
				           
			</convert>
			            
			<convert converter="bean" match="org.openmrs.Patient">
				                
				<param name="include"
					value="patientId,
	                     identifiers, voided, personId, names,
	                     addresses, attributes, gender, birthdate,
	                     birthdateEstimated, age, deathdate, dead,
	                     personName, personAddress, attributeMap" />
				           
			</convert>
			           
			<convert converter="bean" match="org.openmrs.PatientIdentifier">
				            
				<param name="include"
					value="identifier,
		                 identifierType, location, voided, preferred" />
				        
			</convert>
			        
			<convert converter="bean" match="org.openmrs.PatientIdentifierType">
				            
				<param name="include"
					value="patientIdentifierTypeId,
		                 name, format, required, formatDescription, checkDigit,
		                 description, validator, retired, patientIdentifier" />
				        
			</convert>
			        
			<convert converter="bean" match="org.openmrs.Location">
				            
				<param name="include"
					value="locationId, name,
		                 description, address1, address2, cityVillage,
		                 stateProvince, country, postalCode, latitude,
		                 longitude, countyDistrict, neighborhoodCell,
		                 townshipDivision, region, subregion, retired" />
				        
			</convert>
			<create creator="new" javascript="DWRMatchingConfigUtilities">
				<param name="class"
					value="@MODULE_PACKAGE@.web.dwr.DWRMatchingConfigUtilities" />
				<include method="getAllBlockingRuns" />
				<include method="getAllReports" />
				<include method="deleteBlockingRun" />
				<include method="doAnalysis" />
				<include method="deleteReportFile" />
				<include method="setReportName" />
				<include method="getNextPage" />
				<include method="getPrevPage" />
				<include method="resetStep" />
				<include method="getStep" />
				<include method="previousProcessStatus" />
				<include method="getStartPage" />
				<include method="getEndPage" />
				<include method="selStrategy" />
				<include method="getPatient" />				
			</create>
		</allow>

		<signatures>
                <![CDATA[
                import java.util.List;
				import java.util.Set;
                import @MODULE_PACKAGE@.web.dwr.DWRMatchingConfigUtilities;
                DWRMatchingConfigUtilities.getAllBlockingRuns()
                DWRMatchingConfigUtilities.getAllReports()
                DWRMatchingConfigUtilities.deleteBlockingRun(String)
                DWRMatchingConfigUtilities.doAnalysis(String)
                DWRMatchingConfigUtilities.resetStep()
                DWRMatchingConfigUtilities.deleteReportFile(String)
				DWRMatchingConfigUtilities.setReportName(String)
 			    DWRMatchingConfigUtilities.getNextPage()
                DWRMatchingConfigUtilities.getPrevPage()
                DWRMatchingConfigUtilities.getStep()
                DWRMatchingConfigUtilities.previousProcessStatus()
                DWRMatchingConfigUtilities.getStartPage()
                DWRMatchingConfigUtilities.getEndPage()
                DWRMatchingConfigUtilities.selStrategy(String)
                DWRMatchingConfigUtilities.getPatient(String)
                ]]>
		</signatures>
	</dwr>

	<!-- Internationalization -->
	<!-- All message codes should start with moduleId.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
</module>
