<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN" "http://resources.openmrs.org/doctype/config-1.0.dtd"> -->
<module configVersion="1.0">

	<!-- Base Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>James Egg</author>
	<description>Patient matching module uses an external database for
		probabilistic patient matching</description>

	<activator>@MODULE_PACKAGE@.PatientMatchingActivator</activator>

	<!-- <updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>
	
	<mappingFiles>
		${omodHbmConfig}
	</mappingFiles>

	<!-- /Extensions -->

	<require_version>1.7</require_version>
    <require_modules>
        <require_module version="${legacyUiVersion}">${project.parent.groupId}.legacyui</require_module>
    </require_modules>

	<!-- AOP -->
	<advice>
		<point>org.openmrs.api.PatientService</point>
		<class>@MODULE_PACKAGE@.PatientMatchingActivator</class>
	</advice>
	<!-- /AOP -->

    <globalProperty>
        <property>patientmatching.configDirectory</property>
        <defaultValue>patientmatching</defaultValue>
        <description>The location of the patient matching configuration folder, can be absolute or relative path
        </description>
    </globalProperty>

	<globalProperty>
		<property>patientmatching.configFile</property>
        <defaultValue>patientmatching/config.xml</defaultValue>
		<description>The location of the patient matching configuration file, can be absolute or relative path
		</description>
	</globalProperty>

    <globalProperty>
        <property>patientmatching.serializationDirectory</property>
        <defaultValue>patientmatching/serial</defaultValue>
        <description>The location of the serialization folder to be used when matching patients, can be absolute or relative path
        </description>
    </globalProperty>

	<globalProperty>
		<property>patientmatching.excludedProperties</property>
		<defaultValue>void,change,create,creator</defaultValue>
		<description>All properties that contains any of this element will be
			excluded</description>
	</globalProperty>
	<globalProperty>
		<property>patientmatching.urlProductionServer</property>
		<defaultValue>http://localhost:8080/openmrs/admin/patients/mergePatients.form</defaultValue>
		<description>URL pointing to the production server </description>
	</globalProperty>
	<globalProperty>
        <property>patientmatching.scratchPageSize</property>
        <defaultValue>10000</defaultValue>
        <description>The number of patients to read per page</description>
    </globalProperty>
    <globalProperty>
        <property>patientmatching.scratchPageLimit</property>
        <description>Used when testing patient matching to limit number of pages read (leave blank for production use)</description>
    </globalProperty>
    <globalProperty>
        <property>patientmatching.strategy</property>
        <defaultValue>probabilistic</defaultValue>
        <description>
            The patient matching strategy to use, allowed values are probabilistic and deterministic,
            defaults to probabilistic. With deterministic strategy m and u values are ignored therefore any 2 records
            are considered to match if all their demographics match based on their respective algorithms.
        </description>
    </globalProperty>

	<dwr>
		<allow>

			<convert converter="bean" match="org.openmrs.Person">
				             
				<param name="include"
					value="personId, names,
                         addresses, attributes, gender, birthdate,
                		 birthdateEstimated, age, dead, voided,
            		     personName, personAddress, attributeMap" />
				           
			</convert>
			<convert converter="bean" match="org.openmrs.PersonName">
				                
				<param name="include"
					value="personNameId, preferred,
	                     prefix, givenName, middleName, familyNamePrefix,
	                     familyName, familyName2, familyNameSuffix,
	                     degree, voided" />
				           
			</convert>
			           
			<convert converter="bean" match="org.openmrs.PersonAddress">
				                
				<param name="include"
					value="personAddressId,
	                     preferred, address1, address2, cityVillage,
	                     neighborhoodCell, countyDistrict, townshipDivision,
	                     region, subregion, stateProvince, country, postalCode,
	                     latitude, longitude, voided" />
				          
			</convert>
			           
			<convert converter="bean" match="org.openmrs.PersonAttribute">
				               
				<param name="include"
					value="personAttributeId,
          	             person, attributeType, value, voided" />
				            
			</convert>
			            
			<convert converter="bean" match="org.openmrs.PersonAttributeType">
				                
				<param name="include"
					value="personAttributeTypeId,
                         name, format, foreignKey, description, searchable,
            	         retired" />
				           
			</convert>
			            
			<convert converter="bean" match="org.openmrs.Patient">
				                
				<param name="include"
					value="patientId,
	                     identifiers, voided, personId, names,
	                     addresses, attributes, gender, birthdate,
	                     birthdateEstimated, age, deathdate, dead,
	                     personName, personAddress, attributeMap" />
				           
			</convert>
			           
			<convert converter="bean" match="org.openmrs.PatientIdentifier">
				            
				<param name="include"
					value="identifier,
		                 identifierType, location, voided, preferred" />
				        
			</convert>
			        
			<convert converter="bean" match="org.openmrs.PatientIdentifierType">
				            
				<param name="include"
					value="patientIdentifierTypeId,
		                 name, format, required, formatDescription, checkDigit,
		                 description, validator, retired, patientIdentifier" />
				        
			</convert>
			        
			<convert converter="bean" match="org.openmrs.Location">
				            
				<param name="include"
					value="locationId, name,
		                 description, address1, address2, cityVillage,
		                 stateProvince, country, postalCode, latitude,
		                 longitude, countyDistrict, neighborhoodCell,
		                 townshipDivision, region, subregion, retired" />
				        
			</convert>
			<create creator="new" javascript="DWRMatchingConfigUtilities">
				<param name="class"
					value="@MODULE_PACKAGE@.web.dwr.DWRMatchingConfigUtilities" />
				<include method="getAllBlockingRuns" />
				<include method="getAllPatientMatchingConfigurations" />
				<include method="getAllReports" />
				<include method="deleteBlockingRun" />
				<include method="doAnalysis" />
				<include method="deleteReportFile" />
				<include method="setReportName" />
				<include method="getNextPage" />
				<include method="getPrevPage" />
				<include method="resetStep" />
				<include method="getStep" />
				<include method="previousProcessStatus" />
				<include method="getStartPage" />
				<include method="getEndPage" />
				<include method="selStrategy" />
				<include method="getPatient" />				
			</create>
			<create creator="new" javascript="DWREstimationUtilities">
				<param name="class" value="@MODULE_PACKAGE@.web.dwr.DWREstimationUtilities"></param>
				<include method="getEstimationInfomation"/>
				<include method="getEstimatedPairs"/>
				<include method="getEstimatedTimeToRun"/>
				<include method="getTotalRecords"/>
			</create>
		</allow>

		<signatures>
                <![CDATA[
                import java.util.List;
				import java.util.Set;
                import @MODULE_PACKAGE@.web.dwr.DWRMatchingConfigUtilities;
                import @MODULE_PACKAGE@.web.dwr.DWREstimationUtilities;
                DWRMatchingConfigUtilities.getAllBlockingRuns()
				DWRMatchingConfigUtilities.getAllPatientMatchingConfigurations()
                DWRMatchingConfigUtilities.getAllReports()
                DWRMatchingConfigUtilities.deleteBlockingRun(String)
                DWRMatchingConfigUtilities.doAnalysis(String)
                DWRMatchingConfigUtilities.resetStep()
                DWRMatchingConfigUtilities.deleteReportFile(String)
				DWRMatchingConfigUtilities.setReportName(String)
 			    DWRMatchingConfigUtilities.getNextPage()
                DWRMatchingConfigUtilities.getPrevPage()
                DWRMatchingConfigUtilities.getStep()
                DWRMatchingConfigUtilities.previousProcessStatus()
                DWRMatchingConfigUtilities.getStartPage()
                DWRMatchingConfigUtilities.getEndPage()
                DWRMatchingConfigUtilities.selStrategy(String)
                DWRMatchingConfigUtilities.getPatient(String)
                DWREstimationUtilities.getEstimationInfomation(array)
                DWREstimationUtilities.getEstimatedPairs()
                DWREstimationUtilities.getEstimatedTimeToRun()
                DWREstimationUtilities.getTotalRecords()
                ]]>
		</signatures>
	</dwr>

	<!-- Internationalization -->
	<!-- All message codes should start with moduleId.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
</module>
